i{
    font-style: normal;
}

.my-orange-color{
    color: #fe980f;
}

.my-grey-color{
    color: #696763 !important;
}

.my-red-color{
    color: #d00;
}

.my-title-no-goods{
    margin: 50px 0 0;
}

.my-category-link:hover
{
    color: #fe980f !important;
}

.my-btn{
    margin-left: 0;
    -webkit-transition: background 300ms, color 300ms;
    transition: background 300ms, color 300ms;
}

.my-product-price, .my-product-price + i, .my-product-amount, .my-product-amount + i{
    color: #fe980f;
    font-size: 20px;
    font-weight:bold;
}

.my-pagination{
    margin: 30px 0;
    text-align: center;
}

.my-form :focus::-moz-placeholder{
    color: transparent;
}

.my-form :focus::-webkit-input-placeholder{
    color: transparent;
}

.my-form ::-moz-placeholder{
    font-weight: normal;
    color: #555;
}

.my-form ::-webkit-input-placeholder{
    font-weight: normal;
    color: #555;
}

.my-form textarea{
    padding: 0.7em;
    height: 250px;
    margin: 0 0 10px;
}

.my-form input[type="checkbox"]{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 10px 0 0;
}

.my-form label{
    display: inline-block;
    margin: 0 0 20px;
    cursor: pointer;
    color: #696763;
}

.my-ul{
    padding: 0;
    margin: 0 0 20px;
}

.my-cabinet-ul a:hover{
    text-decoration:underline;
}

.my-cart-table-box{
    padding: 0 15px;
}

.my-title-h4{
    margin-top: 20px;
}

h2.my-form-h2{
    font-size: 17px;
}

.my-table-products tr th + th + th + th{
    width: 150px;
}

.my-table-products tr th + th + th + th + th{
    width: 100px;
}

.my-form-delete{
    display: inline-block;
    margin: 0 100px 0 0;
}

.my-table-admins tr th + th{
    width: 74px;
}